.products-page {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
}

/** PRODUCTS **/

.products-page .products {
    width: 100%;
    height: auto;
    display: flex;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
}

.products-page .products .avatar-big-box {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: end;
}

.products-page .products .main-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 89px;
    width: 820px;
    height: 46px;
    padding: 20px;
}

.products-page .products .title {
    width: 100%;
    height: auto;
    display: flex;
    font-family: "Roboto Serif";
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(52, 52, 52);

}

.products-page .products .single-search-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: initial;
}
  

.products-page .products .search-box {
    position: relative;
    width: 270px;
    height: 33px;
    padding: 10px;
    display: flex;
    align-items: center;
    background: #fffcfc;
    border: 1px solid #f8f8ff;
    color: rgb(52, 52, 52);
    box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
    border-radius: 18.5px;
    box-sizing: border-box;
}
.products-page .products .search-btn {
    position: relative;
    width: 106px;
    height: 32px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.25);
    border-radius: 18.5px;
    box-sizing: border-box;
}

.products-page .products .dishes-filter-box .order {
    margin-left: 15px;
    width: 70px;
    height: 36px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
}

.products-page .products .dishes-filter-section  {
    margin-top: 60px;
    width: 1100px;
    height: auto;
    display: flex;
    align-items: end;
}

.products-page .products .dishes-filter-box { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products-page .products .product-category {
    margin-top: 70px;
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.products-page .product-category .category-main {
   display: flex;
   flex-direction: row;
   justify-content: end;
   transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
}

.products-page .products .category-main .order {
    width: 70px;
    height: 36px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
}

.products-page .products .list-category-section {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row ;
}

.products-page .products .product-card .product-desc {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.products-page .products .product-desc .product-title {
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.products-page .products .product-desc .product-desc {
    margin-top: 2px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #e3c08d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products-page .products .product-wrapper {
    margin-left: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products-page .product-wrapper .no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #e3c08d;
}

.products-page .products .product-card {
    margin-top: 40px;
    margin-right: 24px;
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-page .products .product-card .product-img {
    position: relative;
    width: 273px;
    height: 275px;
    background-size: cover;
    border-radius: 0px 50px 0px 0px;
}

.products-page .products .product-img .product-sale {
    margin: 10px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9200;
    box-shadow: 4px 6px 20px #0000001a;
    border-radius: 25px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;    
    font-size: 12px;
    line-height: 21px;
    color: #f8f8ff;
}

.products-page .products .product-img:before {
    border-radius: 0px 50px 0px 0px;
    content: "";
    opacity: 0;
    transition: opcity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.products-page .products .product-img:hover:before {
    border-radius: 0px 50px 0px 0px;
    opacity: 1;
}

.products-page .products .product-img img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.products-page .products .shop-btn {
    position: absolute;
    padding: 20px;
    top: 217px;
    width: 64px;
    height: 46px;
    left: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgb(198 0 255 / 66%);
    border: 2px solid #d7b686;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #f8f8ff;

}

.products-page .products .view-btn {
    position: absolute;
    bottom: 15px;
    padding: 5px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    transition: opcity 0.5s ease;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.products-page .products .pagination-section {
    position: relative;
    width: 100%;
    margin: 30px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products-page .products .product-img:hover .shop-btn {
    opacity: 1;
}

.products-page .products .product-img:hover .view-btn {
    opacity: 1;
}


.products-page .products .address {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 89px;
}

.products-page .products .address .address-area {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-page .products .address .address-area iframe {
    width: 1320px;
    height: 500px;
    margin-top: 60px;
    border: none;
    box-shadow: 10px 20px 20px #0000001a;

}

.products-page .products .address .address-title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}

.products-page .products .brands-logo {
    width: 100%;
    height: 580px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(13, 21, 24);
}

.products-page .products .brands-logo .family-brands {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-page .products .brands-logo .family-brands .category-title {
    width: 305px;
    height: 46px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(227, 192, 141);
}

.products-page .products .brands-logo  .brand-list {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.products-page .products .brands-logo img {
    width: 259px;
    height: 350px;
    margin: 50px 0px 0px 50px;
    content: "";
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(228, 212, 212);
    background: rgb(13, 21, 24);
}

.products-page .products .brands-logo  img {
    width: 238px;
    height: 329px;
    background-size: contain;
    background-repeat: no-repeat;
}

.products-page .product-category .category-main button {
    min-width: auto;
    margin-right: 10px;
}


/** ChosenProduct **/

.products-page .chosen-product {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .chosen-product .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 150px;
  }
  
  .products-page .chosen-product .chosen-product-slider {
    width: 48%;
    height: 480px;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .products-page .chosen-product .chosen-product-slider .swiper-area {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    width: 100%;
    height: 1020px;
  }
  
  .products-page
    .chosen-product
    .chosen-product-slider
    .swiper-area
    .slider-image {
    width: 100%;
    height: 100%;
  }
  
  .products-page .chosen-product .chosen-product-info {
    padding: 30px 40px;
    width: 49%;
    height: 480px;
    display: flex;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  .products-page .chosen-product .chosen-product-info .info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .chosen-product .info-box .product-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .resto-name {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #979797;
  }
  
  .products-page .chosen-product .info-box .rating-box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .star-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box .product-view {
    display: flex;
    align-items: center;
  }
  
  .products-page .chosen-product .info-box .product-desc {
    height: 112px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .product-price span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .button-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .products-page .chosen-product .button-box button {
    width: 230px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #f8f8ff;
  }
  
  .products-page .chosen-product .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
  }
  